allow ccci_mdinit sysfs_boot_mode:file { read };
get_prop(ccci_mdinit, init_service_status_private_prop)
allow ccci_mdinit sysfs_boot_mode:file { open write read getattr };
