type hal_fingerprint_fleur, domain;
hal_client_domain(hal_fingerprint_fleur, hal_fingerprint)
hal_server_domain(hal_fingerprint_fleur, hal_fingerprint)

type hal_fingerprint_fleur_exec, system_file_type, exec_type, file_type;
init_daemon_domain(hal_fingerprint_fleur)
