allow hal_mtdservice_default file_contexts_file:file { read write open getattr };
allow hal_mtdservice_default camera_persist_file:dir { getattr };
allow hal_mtdservice_default self:capability { sys_admin };
allow hal_mtdservice_default self:capability { dac_read_search };
allow hal_mtdservice_default self:capability { dac_override };
allow hal_mtdservice_default mediadrm_vendor_data_file:dir { search };
allow hal_mtdservice_default vendor_sysfs_battery_supply:file { read write open getattr };
