allow nvram_daemon proc_cmdline:file { read };
allow nvram_daemon sysfs_dt_firmware_android:dir { search };
allow nvram_daemon persist_data_file:dir { search };
allow nvram_daemon proc_cmdline:file { open };
allow nvram_daemon sysfs_dt_firmware_android:file { read write open };
