allow system_app zygote:unix_stream_socket { getopt };
allow system_app proc_pagetypeinfo:file { read search open};
allow system_app sysfs_zram:dir { search read open };
