allow untrusted_app_30 cache_file:lnk_file { read };

allow untrusted_app_30 mnt_vendor_file:dir { search };

allow untrusted_app_30 sysfs_therm:dir { search };

allow untrusted_app_30 vendor_sysfs_battery_supply:dir { search };

allow untrusted_app_30 vendor_sysfs_ac_supply:dir { search };
