# allow apps to read battery status
r_dir_file(untrusted_app, sysfs_battery_supply)
r_dir_file(untrusted_app, sysfs_usb_supply)

# allow apps to read thermals
r_dir_file(untrusted_app, sysfs_therm)

allow untrusted_app unlabeled:filesystem { getattr };
